body {
    background-color:rgb(65, 163, 255);
    font: Normal 15pt Arial;
}
header {
    color: white;
    text-align:center
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.76);
}
div {
    text-align: center;
    padding: 5%;
}

#div1 {
    background-color: rgba(204, 216, 255, 0.568);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
#div2 {
    background-color: rgba(13, 201, 207, 0.438);
}
footer{
    color: white;
    text-align:center;
    font-style: italic;
}
#imagem {
    border-radius:50%;
    width: 300px;
    height: 300px;
}